@font-face {
  font-family: 'flicker_DEMO';
  src: url('../fuentes/flicker DEMO.otf');
}

@font-face {
  font-family: 'FreeSans';
  src: url('../fuentes/FreeSans.otf');
}


.blog-musica-body {
  background: url(../img/wallpaper_blog_musica.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

header{
  background-color: rgba(11, 18, 34, 0.95);
  background-repeat: repeat;
  min-height: 100px;
  border-radius: 0px 0px 2px 2px;
  border: 1px solid white
}

.logo-img {
  width: 100px;
  margin: 20px;
}

.img-social {
  width: 35px;
  height: 35px;
}

.img-section{

}

.redes-sociales {
  margin-top: 80px;
}

nav{
  margin-right: 50px;
  margin-left: 50px;
}


section{
  background: rgba(0, 0, 0, 0.8);
  min-height: 350px;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-menu{
  background-color: rgba(11, 18, 34, 0.95);
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  color: white;
}
.nav-menu:hover{
   background: lightseagreen;
   color: #fff;
   box-shadow: 0 0 1px #ccc;
   -webkit-box-shadow: 0px 0px 0 0 #31708f inset , 0px 0px 0 0 #31708f inset;
}

h2{
  color: white !important;
  font-family: 'flicker_DEMO' !important;
  font-size: 1.5em !important;
}
p{
  color: white !important;
  font-family: 'FreeSans';
}

.list-group-item-heading{
  font-family: 'FreeSans';
}

.titulo-text {
  font-size: 14px;
  font-weight: bolder;
  color: #FFFFFF;
  padding: 10px;
  box-shadow: 5px;
  font-family: 'FreeSans';
  width: 50px;
}

.buscador{
  padding: 20px;
}

.img-musical {
  height: 200px;
  padding: 5px;
  max-width: 100%;
}

.img-musical2 {
  height: 100px;
  padding: 5px;
}

.comentarios{
  padding: 5px;
}

.row-comentarios{
  display:flex;
  display: -webkit-flex;
}

ul>li{
  color: white !important;
  font-family: 'FreeSans' !important;
}

@media (max-width:767px) {
  .tamanio-nav-menu{
    max-width:50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*@media (min-width:980px) {
  .img-musical2 {
    padding: 1vh 1vw;
    max-width: 90%;
  }
} */
