/*img-secundaria dos columnas flex desktop*/
/*img-secundaria una columna  flex movil*/
header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 56px;
  top:0;
  left: 10;
  position: fixed;
}
.s-central{
  background-color: #82c3a6;
  margin-top:48px;
  padding:10px 10px 10px 0px;
  width: 100%;
}
div[class*="img-secundaria"]>img{
  border:1px solid;
}

#s-secundaria{
  background-color: #d5c75f;
  padding:10px 10px 10px 0px;
  width: 100%;

}
#wrapper{
  display: flex;
  flex-direction: row;
}


h1{
  color: white;
  text-shadow: 2px  2px #02010a;
  display: inline;
  position: relative;
  border: 1px solid black;
  top: 5px;
  font-size: 2.5em;
}
nav{
  float: right;
  padding: 1.5% 2% 0 0;
  position: relative;
  border: 1px solid;
  top: 5px;
}
/*menu en nav desaparece version != desktop*/
@media (min-width:0px) {
  nav a{
    display: none;
  }
}
/*menu en nav version = desktop*/
@media (min-width:720px) {
  nav a{
    color: white;
    display: inline;
  }
}
a[href='html/inicio.html']{
  text-decoration: none;
}

@media screen and (max-width: 720px){
  #s-secundaria
  	{
  		width: 50%;
  		margin: 0 auto;
  	}
	.img-secundaria1 img
	{
	   width: 100%;
	}
	.img-secundaria2 img
	{
	width: 100%;
	}
}


footer{
  position: fixed;
  bottom: 0;
}
