/*img-secundaria dos columnas flex desktop*/
/*img-secundaria una columna  flex movil*/
header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
}
h1{
  color: white;
  text-shadow: 2px  2px #02010a;
  display: inline;
  position: relative;
  border: 1px solid black;
  top: 5px;
  font-size: 2.5em;
}
nav{
  float: right;
  padding: 1.5% 2% 0 0;
  position: relative;
  border: 1px solid;
  top: 5px;
}
/*menu en nav desaparece version != desktop*/
@media (min-width:0px) {
  nav a{
    display: none;
  }
}
/*menu en nav version = desktop*/
@media (min-width:720px) {
  nav a{
    color: white;
    display: inline;
  }
}
a[href='html/inicio.html']{
  text-decoration: none;
}
/*#s-central{
  background-color: #82c3a6;
  text-align: center;
}
#s-central>img{
  width: 80%
}

#s-secundaria{
  display: flex;
  flex-flow: row wrap;
}

#s-secundaria img{
  width:50%;
}*/

footer{
  position: fixed;
  bottom: 0;
}
